/*Space Background*/
body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

header {
    color: white;
    font-family: 'Codystar',
        cursive;
    text-align: center;
    font-weight: 900;
}

hr {
    display: block;
    border-top: dashed white .05rem;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 65%;
    text-align: center;
}

.container {
    display: grid;
    background: black;
    opacity: 0.8;
    min-height: 500px;
    min-width: 500px;
}

.main-content {
    color: white;
}

#time-left {
    color: #007bff;
}

#question-text {
    color: yellow;
}

#start-button {
    font-family: 'Press Start 2P',
        cursive;
    font-size: 2rem;
    font-weight: bold;
}

#start-text {
    padding-left: 1rem;
}

.answer {
    padding: 0;
    margin: 0;
    text-align: center;
}

.answer:hover {
    background: #007bff;
    color: black;
    cursor: pointer;
}

.red {
    background-color: red;
    color: white;
    text-align: center;
}

.green {
    background-color: green;
    color: white;
    text-align: center;
}

.black {
    background-color: black;
    color: white;
    text-align: center;
}